@font-face {
    font-family: "OdibeeSansRegular";
    src: local("OdibeeSansRegular"),
        url("./fonts/OdibeeSans-Regular.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "PattayaRegular";
    src: local("PattayaRegular"),
        url("./fonts/Pattaya-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "RobotoLight";
    src: local("RobotoLight"),
        url("./fonts/Roboto-Light.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "RobotoRegular";
    src: local("RobotoRegular"),
        url("./fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
}
.font {
    font-family: OdibeeSansRegular;
}
.fonts {
    font-family: PattayaRegular;
}
.font-roboto {
    font-family: RobotoRegular;
}
.font-roboto-light {
    font-family: RobotoLight;
}

/* Menu sensores */
.boton:hover {
    transform: scale(1.08);
}
.boton:active {
    transform: scale(1);
}
.boton {
    cursor: pointer;
    transition: 0.3s;
}
.login {
    margin-top: 15rem;
    height: 20rem;
    width: 25rem;
    padding: 0 2rem;
    justify-content: center;
}
.logo-login {
    margin-top: -8rem;
}















